* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* ANA LAYOUT */
.main-layout {
  display: flex; 
  height: 100vh;
  width: 100vw;
  background-color: #121212;
}

/* SIDEBAR (SOL PANEL KAPSAYICISI) */
.sidebar {
  width: 340px; 
  background-color: #1a1d23; 
  padding: 30px 0; 
  display: flex;
  flex-direction: column;
}

/* LOGO ALANI */
.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
  padding-left: 25px; 
}

.app-icon {
  width: 35px;
  height: 35px;
  border-radius: 10px;
}

.logo-text {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

/* AYIRICI ÇİZGİLER */
.sidebar-divider {
  height: 1px;
  background-color: #4a4d55;
  width: 90%;
  align-self: center; 
  margin-top: -20px;
  margin-bottom: 25px;
  opacity: 0.4;
}

.sidebar-dynamic-content {
  padding: 10px;
  margin-top: 10px;
}

/* SAĞDAKİ İÇERİK ALANI */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}